{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Album page</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for album in albums %}
          <div class="col">
            <div class="card">
<!--              <img src="..." class="card-img-top" alt="...">-->
              <div class="card-body">
                <h5 class="card-title">Album id :{{album.id}}</h5>
                <h5 class="card-title">Album title :{{album.title}}</h5>
                <h5 class="card-title">Album Artist details :{{album.artist}}</h5>

              </div>
            </div>
          </div>
    {% endfor %}

</div>
{% endblock %}